.logo {
    margin: auto;
    display: block;
    width: 25%;
    height: 25%;
    max-width: 225px;
    max-height: 225px;
    padding: 20px;
    text-align: center;
}

.navbar a {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 25px;
    padding-right: 25px;
}

.welcome {
    background-color: #cafef5;
    text-align: center;
    padding: 5%;
}

.welcome-text1 {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px;
    color: #25848a;
}

.welcome-text2 {
    font-family: "Special Elite";
    font-size: 30px;
    letter-spacing: 2px;
    color: #1e1d1d;
}

.welcome-text3 {
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(107, 104, 104);
}


/* 
Other colors
#1e1d1d
#43e1cb
#cbfbf3
#85a5a4
*/