html {
    font-family: "Open Sans";
}

.navbar a {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.welcome-container {
    padding: 2em;
}

.welcome {
    background-color: #cafef5;
    text-align: center;
    padding: 5%;
}

.welcome-text1, .heading-text {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px;
    color: #25848a;
}

.welcome-text2 {
    font-family: "Special Elite";
    margin-bottom: 0;
    padding: 0;
    color: #1e1d1d;
}

.welcome-text3 {
    font-family: "Special Elite";
    margin-top: 0;
    padding: 0;
    color: #1e1d1d;
}

.welcome-text4, .regular-text {
    font-size: 18px;
    color: rgb(107, 104, 104);
    margin-bottom: 25px;
}

.btn {
    font-size: 14px !important;
    font-weight: 650 !important;
    background-color: #43e1cb !important;
    border-color: #43e1cb !important;
    color: #1e1d1d !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    letter-spacing: 2px !important;
}

.info-container {
    background-color: #cafef5;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.about-container {
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.paragraph-text {
    color: #1e1d1d;
    font-size: 18px;
    padding-right: 25px !important;
}


/* Some media tag sizes are from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome-text2, .welcome-text3 {
        font-size: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-text2, .welcome-text3 {
        font-size: 35px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-text2, .welcome-text3 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 800px) {
    .welcome-text2, .welcome-text3 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1000px) {
    .welcome-text2, .welcome-text3 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1200px) {
    .welcome-text2, .welcome-text3 {
        font-size: 47px;
    }
}

@media only screen and (min-width: 1400px) {
    .welcome-text2, .welcome-text3 {
        font-size: 50px;
    }
}


/* 
Other colors
#1e1d1d
#43e1cb
#cbfbf3
#85a5a4
*/